@model Nexy.Data.ModelPost

<div class="feed-post">
    <div class="feed-post__header">
        <a asp-page="/Model/Details" asp-route-id="@Model.Model.Id" class="flex items-center space-x-3 hover:underline">
            <img src="@Model.Model.AvatarUrl" class="feed-post__avatar" alt="@Model.Model.Name's avatar" />
            <div>
                <div class="feed-post__name">@Model.Model.Name</div>
            </div>
        </a>
    </div>
    <img src="@Model.ImageUrl" class="feed-post__image" alt="Post image" />
    <p class="feed-post__caption">@Model.Caption</p>
</div>